body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #eee
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    /* text-align: center; */
}

.card-title {
    margin-top: 10px;
    font-size: 17px
}

.invoice-color {
    color: red !important
}

.card-header {
    padding: .9375rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .02);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

a {
    text-decoration: none !important
}

.btn-light {
    color: #333;
    background-color: #fafafa;
    border-color: #ddd
}

.header-elements-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}
@media (min-width:300px) and (max-width:800px) {
    .loan_applicant{
        margin-top: -5rem;
        margin-left: 6rem;
    }
    .container{
        width: 173%;
    }
    .mobile_size{
        margin-left: 19rem;
        margin-top: -11rem;
    }
    .mbl_para{
        margin-top: -29px;
    }
    
}

@media (min-width: 768px) {
    .wmin-md-400 {
        min-width: 400px !important
    }
}

.btn-primary {
    color: #fff;
    background-color: #2196f3
}

.btn-labeled>b {
    position: absolute;
    top: -1px;
    background-color: blue;
    display: block;
    line-height: 1;
    padding: .62503rem
}

.no-outline:focus {
    outline: none;
    
  }
  .newwww{
    border-top-style: hidden; 
    border-right-style: hidden; 
    border-left-style: hidden; 
    border-bottom: 1px dotted black;
  }
  table, td, th {
    border: 1px solid black;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  .tbl{
    text-align: center;
  }
  #address_M, #name_of, #name_of_company{
    border-top-style: hidden; 
    border-right-style: hidden; 
    border-left-style: hidden; 
    border-bottom: 1px dotted black;
  }
  .tableinput{
    border-top-style: hidden; 
    border-right-style: hidden; 
    border-left-style: hidden; 
    border-bottom:hidden;
    width: 100%;
  }
  body{
      font-size: 11px !important;
  }
  hr{
      margin-top: auto !important;
      margin-bottom: auto !important;
  }